# AMZ Toys Project Part 1 - Data Preparation

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [2]:
pd.options.mode.chained_assignment = None

### Import Data and pre cleaning

In [3]:
toys_all = pd.read_csv("C:/Users/dukun/Course/Intro to R/CS1/Toys_Amazon.csv", encoding="utf-8")

In [4]:
def pre_clean(df):
    toys_all = df
    #drop any rows if price column is null
    toys_all.dropna(how='any', subset=['price'], inplace=True)
    
    #split the `number_available_in_stock` column into two columns
    toys_all[['quan_available','condition']] = toys_all.number_available_in_stock.str.split(expand=True)
    
    #remove the dollar sign
    toys_all['price'] = toys_all['price'].apply(lambda x: re.sub("£", "",str(x)))
    
    #remove some unnecessary words in the avg rating column
    toys_all['average_review_rating'] = toys_all['average_review_rating'].apply(lambda x: re.sub(" out of 5 stars", "", str(x)))
    
    #change data type
    toys_all['average_review_rating'] = toys_all['average_review_rating'].apply(float)
    
    toys_all['average_review_rating'].fillna((toys_all['average_review_rating'].mean()), inplace=True)
    
    return toys_all

In [5]:
toys_all = pre_clean(toys_all)

In [6]:
toys_all.head()

,uniq_id,product_name,manufacturer,price,number_available_in_stock,number_of_reviews,number_of_answered_questions,average_review_rating,amazon_category_and_sub_category,customers_who_bought_this_item_also_bought,description,product_information,product_description,items_customers_buy_after_viewing_this_item,customer_questions_and_answers,customer_reviews,sellers,quan_available,condition
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Hornby,3.42,5 new,15,1.0,4.9,Hobbies > Model Trains & Railway Sets > Rail V...,http://www.amazon.co.uk/Hornby-R8150-Catalogue...,Product Description Hornby 2014 Catalogue Box ...,Technical Details Item Weight640 g Product Dim...,Product Description Hornby 2014 Catalogue Box ...,http://www.amazon.co.uk/Hornby-R8150-Catalogue...,Does this catalogue detail all the previous Ho...,Worth Buying For The Pictures Alone (As Ever) ...,"{""seller""=>[{""Seller_name_1""=>""Amazon.co.uk"", ...",5,new
1,b17540ef7e86e461d37f3ae58b7b72ac,FunkyBuys® Large Christmas Holiday Express Fes...,FunkyBuys,16.99,NaN,2,1.0,4.5,Hobbies > Model Trains & Railway Sets > Rail V...,http://www.amazon.co.uk/Christmas-Holiday-Expr...,Size Name:Large FunkyBuys® Large Christmas Hol...,Technical Details Manufacturer recommended age...,Size Name:Large FunkyBuys® Large Christmas Hol...,http://www.amazon.co.uk/Christmas-Holiday-Expr...,can you turn off sounds // hi no you cant turn...,Four Stars // 4.0 // 18 Dec. 2015 // By\n \...,"{""seller""=>{""Seller_name_1""=>""UHD WHOLESALE"", ...",NaN,NaN
2,348f344247b0c1a935b1223072ef9d8a,CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...,ccf,9.99,2 new,17,2.0,3.9,Hobbies > Model Trains & Railway Sets > Rail V...,http://www.amazon.co.uk/Classic-Train-Lights-B...,BIG CLASSIC TOY TRAIN SET TRACK CARRIAGE LIGHT...,Technical Details Manufacturer recommended age...,BIG CLASSIC TOY TRAIN SET TRACK CARRIAGE LIGHT...,http://www.amazon.co.uk/Train-With-Tracks-Batt...,What is the gauge of the track // Hi Paul.Trut...,**Highly Recommended!** // 5.0 // 26 May 2015 ...,"{""seller""=>[{""Seller_name_1""=>""DEAL-BOX"", ""Sel...",2,new
3,e12b92dbb8eaee78b22965d2a9bbbd9f,HORNBY Coach R4410A BR Hawksworth Corridor 3rd,Hornby,39.99,NaN,1,2.0,5.0,Hobbies > Model Trains & Railway Sets > Rail V...,NaN,Hornby 00 Gauge BR Hawksworth 3rd Class W 2107...,Technical Details Item Weight259 g Product Dim...,Hornby 00 Gauge BR Hawksworth 3rd Class W 2107...,NaN,NaN,I love it // 5.0 // 22 July 2013 // By\n \n...,NaN,NaN,NaN
4,e33a9adeed5f36840ccc227db4682a36,Hornby 00 Gauge 0-4-0 Gildenlow Salt Co. Steam...,Hornby,32.19,NaN,3,2.0,4.7,Hobbies > Model Trains & Railway Sets > Rail V...,http://www.amazon.co.uk/Hornby-R6367-RailRoad-...,Product Description Hornby RailRoad 0-4-0 Gild...,Technical Details Item Weight159 g Product Dim...,Product Description Hornby RailRoad 0-4-0 Gild...,http://www.amazon.co.uk/Hornby-R2672-RailRoad-...,NaN,Birthday present // 5.0 // 14 April 2014 // By...,NaN,NaN,NaN

In [7]:
toys_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8565 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   uniq_id                                      8565 non-null   object
 1   product_name                                 8565 non-null   object
 2   manufacturer                                 8560 non-null   object
 3   price                                        8565 non-null   object
 4   number_available_in_stock                    6336 non-null   object
 5   number_of_reviews                            8550 non-null   object
 6   number_of_answered_questions                 7891 non-null   float64
 7   average_review_rating                        8565 non-null   float64
 8   amazon_category_and_sub_category             8013 non-null   object
 9   customers_who_bought_this_item_also_bought   7628 non-null   object
 10  description                                  8013 non-null   object
 11  product_information                          8511 non-null   object
 12  product_description                          8013 non-null   object
 13  items_customers_buy_after_viewing_this_item  5879 non-null   object
 14  customer_questions_and_answers               821 non-null    object
 15  customer_reviews                             8548 non-null   object
 16  sellers                                      6080 non-null   object
 17  quan_available                               6336 non-null   object
 18  condition                                    6336 non-null   object
dtypes: float64(2), object(17)
memory usage: 1.3+ MB

### Sub-Dataset: Category

I include `uniq_id` and `product_name` in all the sub datasets for further analysis. In relational database, `uniq_id` is the primary key to identify each product.

Variable    | Type    | Definition
:---:| :---:|:---:
uniq_id     | object  | unique identifier    
product_name| object  | name of the product, not necessary unique
category1   | object  | main category 
category2   | object  | sub category to main category
category3   | object  | sub category to category2
category4   | object  | sub category to category3
category5   | object  | sub category to category4

In [8]:
def get_category_df(toys_all):
    
    #select variables needed in this sub dataset
    category = toys_all[['uniq_id', 'product_name', 'amazon_category_and_sub_category']]
    
    #the datasets have five category max
    category[['category1','category2','category3','category4','category5']] = category['amazon_category_and_sub_category'].str.split('>',expand=True)
    
    #drop
    category.drop('amazon_category_and_sub_category',axis=1,inplace=True)
    cols = ['category1','category2','category3','category4','category5']
    
    #remove leading or trailing spaces
    category[cols] = category[cols].apply(lambda x: x.str.strip())
    
    return category

In [9]:
category = get_category_df(toys_all)

In [10]:
category.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8565 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   uniq_id       8565 non-null   object
 1   product_name  8565 non-null   object
 2   category1     8013 non-null   object
 3   category2     8013 non-null   object
 4   category3     4730 non-null   object
 5   category4     1220 non-null   object
 6   category5     75 non-null     object
dtypes: object(7)
memory usage: 535.3+ KB

### Sub dataset: Also bought

Variable    | Type    | Definition
:---:| :---:|:---:
uniq_id     | Object  | unique identifier     
product_name| Object  | name of the product, not necessary unique
also_bought_URL   | Object  | References to other items that similar users bought  
buy_after_view_URL   | Object  | References to other items that similar users bought that item but did not bought this item

In [11]:
def get_alsobought_df(toys_all):
    
    # select variable needed
    also_bought = toys_all[['uniq_id', 'product_name', 'customers_who_bought_this_item_also_bought', 
                      'items_customers_buy_after_viewing_this_item']] 
    
    # split urls and explode to one column
    also_bought['also_bought_URL'] = also_bought['customers_who_bought_this_item_also_bought'].apply(lambda x: str(x).split('|'))
    also_bought = also_bought.explode('also_bought_URL')
    
    #remove leading and trailing spaces
    also_bought['also_bought_URL'] = also_bought['also_bought_URL'].apply(lambda x: str(x).strip())
    
    #split urls and explode to one column and explode to one column
    also_bought['buy_after_view_URL'] = also_bought['items_customers_buy_after_viewing_this_item'].apply(lambda x: str(x).split('|'))
    also_bought = also_bought.explode('buy_after_view_URL')
    
    #remove leading and trailing spaces
    also_bought['buy_after_view_URL'] = also_bought['buy_after_view_URL'].apply(lambda x: str(x).strip())
    
    #drop 
    also_bought.drop(['customers_who_bought_this_item_also_bought','items_customers_buy_after_viewing_this_item'],axis=1,inplace=True)
    
    return also_bought

In [12]:
also_bought = get_alsobought_df(toys_all)

In [13]:
also_bought.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129544 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   uniq_id             129544 non-null  object
 1   product_name        129544 non-null  object
 2   also_bought_URL     129544 non-null  object
 3   buy_after_view_URL  129544 non-null  object
dtypes: object(4)
memory usage: 4.9+ MB

In [14]:
also_bought.head()

,uniq_id,product_name,also_bought_URL,buy_after_view_URL
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,http://www.amazon.co.uk/Hornby-R8150-Catalogue...,http://www.amazon.co.uk/Hornby-R8150-Catalogue...
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,http://www.amazon.co.uk/Hornby-R8150-Catalogue...,http://www.amazon.co.uk/Hornby-Book-Model-Rail...
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,http://www.amazon.co.uk/Hornby-R8150-Catalogue...,http://www.amazon.co.uk/Peco-60-Plans-Book/dp/...
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,http://www.amazon.co.uk/Hornby-R8150-Catalogue...,http://www.amazon.co.uk/Newcomers-Guide-Model-...
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,http://www.amazon.co.uk/Hornby-Book-Model-Rail...,http://www.amazon.co.uk/Hornby-R8150-Catalogue...

### Sub Dataset: Q&A

Variable    | Type    | Definition
:---:| :---:|:---:
uniq_id     | Object  | unique identifiers    
product_name| Object  | name of the product, not necessary unique
question  | Object  | questions toward this product 
answer   | Object  | answers to the question

In [15]:
def get_QA_df(toys_all):
    
    # select variables needed
    QA = toys_all[['uniq_id', 'product_name', 'customer_questions_and_answers']]
    
    #split and explode to one column
    QA['Q_A'] = QA['customer_questions_and_answers'].apply(lambda x: str(x).split('|'))
    QA = QA.explode('Q_A')
    
    #remove leading and trailing spaces
    QA['Q_A'] = QA['Q_A'].apply(lambda x: str(x).strip())
    
    #split question and answer to two columns and drop the oginial column
    QA[['question','answer']] = QA['Q_A'].str.split(' //',expand=True)
    QA.drop(['customer_questions_and_answers','Q_A'],axis=1,inplace=True)
    
    return QA

In [16]:
QA = get_QA_df(toys_all)

In [17]:
QA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9278 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   uniq_id       9278 non-null   object
 1   product_name  9278 non-null   object
 2   question      9278 non-null   object
 3   answer        1534 non-null   object
dtypes: object(4)
memory usage: 362.4+ KB

In [18]:
QA.head()

,uniq_id,product_name,question,answer
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Does this catalogue detail all the previous Ho...,HiThe 2014 catalogue does indeed detail previ...
1,b17540ef7e86e461d37f3ae58b7b72ac,FunkyBuys® Large Christmas Holiday Express Fes...,can you turn off sounds,hi no you cant turn sound off
2,348f344247b0c1a935b1223072ef9d8a,CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...,What is the gauge of the track,"Hi Paul.Truthfully, I'm not sure. But it's ve..."
2,348f344247b0c1a935b1223072ef9d8a,CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...,what is the layout of the tracks?,Its an oval shape layout
3,e12b92dbb8eaee78b22965d2a9bbbd9f,HORNBY Coach R4410A BR Hawksworth Corridor 3rd,nan,None

### Sub dataset: Customer Reviews

Variable    | Type    | Definition
:---:| :---:|:---:
uniq_id     | Object  | unique identifier     
product_name| Object  | name of the product, not necessary unique
comment_title   | Object  | titles written by customers when they write reviews 
indi_score   | Object  | scores correspond to customers reviews
date   | Date  | the time when customers write reviews
reviewers   | Object  | customers who write reviews
content   | Object  | comments written by customers

In [19]:
def get_review_df(toys_all):
    
    # select variable needed
    reviews = toys_all[['uniq_id', 'product_name', 'customer_reviews']]
    
    #split customer_reviews and explode to one column
    reviews['customer_reviews'] = reviews['customer_reviews'].apply(lambda x: str(x).split('|'))
    reviews = reviews.explode('customer_reviews')
    
    #extract four pieces of information from the reviews
    reviews[["comment_title", "indi_score","date","reviewer","content"]] = reviews['customer_reviews'].str.split(' // ',expand=True)
    
    #change the date data type
    reviews['date'] = pd.to_datetime(reviews['date'])
    
    # regular expression to tidy and drop the original
    reviews['reviewer'] = reviews['reviewer'].apply(lambda x: str(x).strip())
    reviews['reviewer'] = reviews['reviewer'].apply(lambda x: re.sub('By\n    \n    ','',str(x)))
    reviews['reviewer'] = reviews['reviewer'].apply(lambda x: str(x).split('\n  \n ')[0])
    reviews.drop(['customer_reviews'],axis=1,inplace=True)
    
    return reviews

In [20]:
reviews = get_review_df(toys_all)

In [21]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25452 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   uniq_id        25452 non-null  object
 1   product_name   25452 non-null  object
 2   comment_title  25452 non-null  object
 3   indi_score     25431 non-null  object
 4   date           25428 non-null  datetime64[ns]
 5   reviewer       25452 non-null  object
 6   content        25425 non-null  object
dtypes: datetime64[ns](1), object(6)
memory usage: 1.6+ MB

In [22]:
reviews.head()

,uniq_id,product_name,comment_title,indi_score,date,reviewer,content
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Worth Buying For The Pictures Alone (As Ever),4.0,2014-04-06,Copnovelist,Part of the magic for me growing up as a boy w...
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Amazing detail fabulous photography.,5.0,2015-04-11,richard,"Amazing detail, every credit to the photograph..."
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,'Great Purchase',5.0,2014-04-23,Pinkhandbag,This was purchased on behalf of my Dad. He is ...
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Great Catalogue,5.0,2014-06-11,Gary John Mapson,Everything I really needed to see what was on ...
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,I collect them all as the glossy pictures are...,5.0,2014-12-07,David Baker,I collect them all as the glossy pictures are ...

### sub dataset: all_sellers

Variable    | Type    | Definition
:---:| :---:|:---:
uniq_id     | Object  | unique identifier     
product_name| Object  | name of the product, not necessary unique
seller  | Object  | sellers which sell the correspond products 
seller_price   | Object  | price correspond to the seller

In [23]:
def get_seller_df(toys_all):
    
    #select variable needed
    all_sellers = toys_all[['uniq_id','product_name', 'sellers']]
    
    # define some regular expression patterns in the sellers and the corresponding replacement
    re_pattern = [(r'\{"seller"=>',''),(r'\[\{"Seller_name_[0-9]0"=>"',''),(r'\[\{"Seller_name_[0-9]"=>"',''),
              (r'\{"Seller_name_[0-9]0"=>"',''),(r'\{"Seller_name_[0-9]"=>"',''),
              (r'Seller_price_[0-9]0"=>"',''),(r'Seller_price_[0-9]"=>"',''),
             (r'"\}\}',''),(r'"\}\]\}',''),(r'"\}, ','|')]
    
    # for loop to remove those syntax
    for old, new in re_pattern:
        all_sellers['sellers'] = all_sellers['sellers'].apply(lambda x:re.sub(old,new,str(x)))
    
    # split and explode to one column
    all_sellers['sellers'] = all_sellers['sellers'].apply(lambda x: str(x).split('|'))
    all_sellers = all_sellers.explode('sellers')
    
    # split the column to seller and price
    all_sellers[["seller","seller_price"]] = all_sellers['sellers'].str.split('", "',expand=True)
    
    #remove dollar sign and drop original
    all_sellers['seller_price'] = all_sellers['seller_price'].apply(lambda x:re.sub('£','',str(x)))
    all_sellers.drop(['sellers'],axis=1,inplace=True)
    
    return all_sellers

In [24]:
all_sellers = get_seller_df(toys_all)

In [25]:
all_sellers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31894 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   uniq_id       31894 non-null  object
 1   product_name  31894 non-null  object
 2   seller        31894 non-null  object
 3   seller_price  31894 non-null  object
dtypes: object(4)
memory usage: 1.2+ MB

In [26]:
all_sellers.head()

,uniq_id,product_name,seller,seller_price
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Amazon.co.uk,3.42
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,**stop-&-shop-uk**,0.19
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,World Wide Shopping Mall Ltd,9.99
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,MyHobbyStore Retail,8.00
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,francejouet,37.62

### sub dataset: products

Variable    | Type    | Definition
:---:| :---:|:---:
uniq_id     | Object  | unique identifier     
product_name| Object  | name of the product, not necessary unique
manufacturer   | Object  | The item manufacturer, as reported on Amazon 
price   | Object  | price of the product in Amazon
quan_available   | Object  | numbers of product available for sale
condition   | Object  | condition of the available product
number_of_reviews   | Object  | the number of reviews written by customers
number_of_answered_questions |  Float   | the number of pairs Q&A
average_review_rating        |  Float   | average review scores correspond to the product
product_infomation           |  Object   | including technical details of the product
product_description          |  Object   | describe the function of the product

In [27]:
def get_products_df(toys_all):
    
    # select variable needed
    products = toys_all[['uniq_id', 'product_name', 'manufacturer', 'price', 'quan_available',
                   'condition', 'number_of_reviews', 'number_of_answered_questions',
                   'average_review_rating', 'product_information', 'product_description']]
    
    # impute missing values
    products['quan_available'] = products['quan_available'].fillna(0)
    products['number_of_answered_questions'] = products['number_of_answered_questions'].fillna(0)
    
    return products

In [28]:
products = get_products_df(toys_all)

In [29]:
products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8565 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   uniq_id                       8565 non-null   object
 1   product_name                  8565 non-null   object
 2   manufacturer                  8560 non-null   object
 3   price                         8565 non-null   object
 4   quan_available                8565 non-null   object
 5   condition                     6336 non-null   object
 6   number_of_reviews             8550 non-null   object
 7   number_of_answered_questions  8565 non-null   float64
 8   average_review_rating         8565 non-null   float64
 9   product_information           8511 non-null   object
 10  product_description           8013 non-null   object
dtypes: float64(2), object(9)
memory usage: 803.0+ KB

In [30]:
products.head()

,uniq_id,product_name,manufacturer,price,quan_available,condition,number_of_reviews,number_of_answered_questions,average_review_rating,product_information,product_description
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Hornby,3.42,5,new,15,1.0,4.9,Technical Details Item Weight640 g Product Dim...,Product Description Hornby 2014 Catalogue Box ...
1,b17540ef7e86e461d37f3ae58b7b72ac,FunkyBuys® Large Christmas Holiday Express Fes...,FunkyBuys,16.99,0,NaN,2,1.0,4.5,Technical Details Manufacturer recommended age...,Size Name:Large FunkyBuys® Large Christmas Hol...
2,348f344247b0c1a935b1223072ef9d8a,CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...,ccf,9.99,2,new,17,2.0,3.9,Technical Details Manufacturer recommended age...,BIG CLASSIC TOY TRAIN SET TRACK CARRIAGE LIGHT...
3,e12b92dbb8eaee78b22965d2a9bbbd9f,HORNBY Coach R4410A BR Hawksworth Corridor 3rd,Hornby,39.99,0,NaN,1,2.0,5.0,Technical Details Item Weight259 g Product Dim...,Hornby 00 Gauge BR Hawksworth 3rd Class W 2107...
4,e33a9adeed5f36840ccc227db4682a36,Hornby 00 Gauge 0-4-0 Gildenlow Salt Co. Steam...,Hornby,32.19,0,NaN,3,2.0,4.7,Technical Details Item Weight159 g Product Dim...,Product Description Hornby RailRoad 0-4-0 Gild...

### output thse sub datasets for later analysis

In [31]:
category.to_csv('category_df.csv',index=None)

In [32]:
also_bought.to_csv('also_bought_df.csv',index=None)

In [33]:
QA.to_csv('QA_df.csv',index=None)

In [34]:
reviews.to_csv('reviews_df.csv',index=None)

In [35]:
all_sellers.to_csv('all_sellers_df.csv',index=None)

In [36]:
products.to_csv('products_df.csv',index=None)