# AMZ Toys Project Part 1 - Data Preparation

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [2]:
pd.options.mode.chained_assignment = None

In [3]:
# import dataset
toys_all = pd.read_csv("C:/Users/dukun/Course/Intro to R/CS1/Toys_Amazon.csv", encoding="utf-8")

In [5]:
toys_all.head()

,uniq_id,product_name,manufacturer,price,number_available_in_stock,number_of_reviews,number_of_answered_questions,average_review_rating,amazon_category_and_sub_category,customers_who_bought_this_item_also_bought,description,product_information,product_description,items_customers_buy_after_viewing_this_item,customer_questions_and_answers,customer_reviews,sellers
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Hornby,£3.42,5 new,15,1.0,4.9 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,http://www.amazon.co.uk/Hornby-R8150-Catalogue...,Product Description Hornby 2014 Catalogue Box ...,Technical Details Item Weight640 g Product Dim...,Product Description Hornby 2014 Catalogue Box ...,http://www.amazon.co.uk/Hornby-R8150-Catalogue...,Does this catalogue detail all the previous Ho...,Worth Buying For The Pictures Alone (As Ever) ...,"{""seller""=>[{""Seller_name_1""=>""Amazon.co.uk"", ..."
1,b17540ef7e86e461d37f3ae58b7b72ac,FunkyBuys® Large Christmas Holiday Express Fes...,FunkyBuys,£16.99,NaN,2,1.0,4.5 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,http://www.amazon.co.uk/Christmas-Holiday-Expr...,Size Name:Large FunkyBuys® Large Christmas Hol...,Technical Details Manufacturer recommended age...,Size Name:Large FunkyBuys® Large Christmas Hol...,http://www.amazon.co.uk/Christmas-Holiday-Expr...,can you turn off sounds // hi no you cant turn...,Four Stars // 4.0 // 18 Dec. 2015 // By\n \...,"{""seller""=>{""Seller_name_1""=>""UHD WHOLESALE"", ..."
2,348f344247b0c1a935b1223072ef9d8a,CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...,ccf,£9.99,2 new,17,2.0,3.9 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,http://www.amazon.co.uk/Classic-Train-Lights-B...,BIG CLASSIC TOY TRAIN SET TRACK CARRIAGE LIGHT...,Technical Details Manufacturer recommended age...,BIG CLASSIC TOY TRAIN SET TRACK CARRIAGE LIGHT...,http://www.amazon.co.uk/Train-With-Tracks-Batt...,What is the gauge of the track // Hi Paul.Trut...,**Highly Recommended!** // 5.0 // 26 May 2015 ...,"{""seller""=>[{""Seller_name_1""=>""DEAL-BOX"", ""Sel..."
3,e12b92dbb8eaee78b22965d2a9bbbd9f,HORNBY Coach R4410A BR Hawksworth Corridor 3rd,Hornby,£39.99,NaN,1,2.0,5.0 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,NaN,Hornby 00 Gauge BR Hawksworth 3rd Class W 2107...,Technical Details Item Weight259 g Product Dim...,Hornby 00 Gauge BR Hawksworth 3rd Class W 2107...,NaN,NaN,I love it // 5.0 // 22 July 2013 // By\n \n...,NaN
4,e33a9adeed5f36840ccc227db4682a36,Hornby 00 Gauge 0-4-0 Gildenlow Salt Co. Steam...,Hornby,£32.19,NaN,3,2.0,4.7 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,http://www.amazon.co.uk/Hornby-R6367-RailRoad-...,Product Description Hornby RailRoad 0-4-0 Gild...,Technical Details Item Weight159 g Product Dim...,Product Description Hornby RailRoad 0-4-0 Gild...,http://www.amazon.co.uk/Hornby-R2672-RailRoad-...,NaN,Birthday present // 5.0 // 14 April 2014 // By...,NaN

In [4]:
toys_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   uniq_id                                      10000 non-null  object
 1   product_name                                 10000 non-null  object
 2   manufacturer                                 9993 non-null   object
 3   price                                        8565 non-null   object
 4   number_available_in_stock                    7500 non-null   object
 5   number_of_reviews                            9982 non-null   object
 6   number_of_answered_questions                 9235 non-null   float64
 7   average_review_rating                        9982 non-null   object
 8   amazon_category_and_sub_category             9310 non-null   object
 9   customers_who_bought_this_item_also_bought   8938 non-null   object
 10  description                                  9349 non-null   object
 11  product_information                          9942 non-null   object
 12  product_description                          9349 non-null   object
 13  items_customers_buy_after_viewing_this_item  6935 non-null   object
 14  customer_questions_and_answers               914 non-null    object
 15  customer_reviews                             9979 non-null   object
 16  sellers                                      6918 non-null   object
dtypes: float64(1), object(16)
memory usage: 1.3+ MB

In [6]:
# drop rows if price is null and reset index
toys_all.dropna(how='any', subset=['price'], inplace=True)

In [7]:
toys_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8565 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   uniq_id                                      8565 non-null   object
 1   product_name                                 8565 non-null   object
 2   manufacturer                                 8560 non-null   object
 3   price                                        8565 non-null   object
 4   number_available_in_stock                    6336 non-null   object
 5   number_of_reviews                            8550 non-null   object
 6   number_of_answered_questions                 7891 non-null   float64
 7   average_review_rating                        8550 non-null   object
 8   amazon_category_and_sub_category             8013 non-null   object
 9   customers_who_bought_this_item_also_bought   7628 non-null   object
 10  description                                  8013 non-null   object
 11  product_information                          8511 non-null   object
 12  product_description                          8013 non-null   object
 13  items_customers_buy_after_viewing_this_item  5879 non-null   object
 14  customer_questions_and_answers               821 non-null    object
 15  customer_reviews                             8548 non-null   object
 16  sellers                                      6080 non-null   object
dtypes: float64(1), object(16)
memory usage: 1.2+ MB

In [8]:
toys_all['number_available_in_stock']

0        5 new
1          NaN
2        2 new
3          NaN
4          NaN
         ...
9995     5 new
9996       NaN
9997     3 new
9998     3 new
9999    31 new
Name: number_available_in_stock, Length: 8565, dtype: object

In [9]:
## separate the number_available in stock column
toys_all[['quan_available','condition']] = toys_all.number_available_in_stock.str.split(expand=True)

In [10]:
toys_all['price'] = toys_all['price'].apply(lambda x: re.sub("£", "",str(x)))

In [11]:
toys_all['average_review_rating'] = toys_all['average_review_rating'].apply(lambda x: re.sub(" out of 5 stars", "", str(x)))

In [12]:
## there are several rating values are null, impute with mean
toys_all['average_review_rating'] = toys_all['average_review_rating'].apply(float)
toys_all['average_review_rating'].fillna((toys_all['average_review_rating'].mean()), inplace=True)

### Sub-Dataset: Category

I include `uniq_id` and `product_name` in all the sub datasets for further analysis. In relational database, `uniq_id` is the primary key to identify each product.

Variable    | Type    | Definition
:---:| :---:|:---:
uniq_id     | object  | unique identifier    
product_name| object  | name of the product, not necessary unique
category1   | object  | main category 
category2   | object  | sub category to main category
category3   | object  | sub category to category2
category4   | object  | sub category to category3
category5   | object  | sub category to category4

In [13]:
category = toys_all[['uniq_id', 'product_name', 'amazon_category_and_sub_category']]

In [14]:
category.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8565 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   uniq_id                           8565 non-null   object
 1   product_name                      8565 non-null   object
 2   amazon_category_and_sub_category  8013 non-null   object
dtypes: object(3)
memory usage: 267.7+ KB

In [15]:
category[['category1','category2','category3','category4','category5']] = category['amazon_category_and_sub_category'].str.split('>',expand=True)

In [16]:
category.drop('amazon_category_and_sub_category',axis=1,inplace=True)

In [17]:
cols = ['category1','category2','category3','category4','category5']
category[cols] = category[cols].apply(lambda x: x.str.strip())

In [18]:
category.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8565 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   uniq_id       8565 non-null   object
 1   product_name  8565 non-null   object
 2   category1     8013 non-null   object
 3   category2     8013 non-null   object
 4   category3     4730 non-null   object
 5   category4     1220 non-null   object
 6   category5     75 non-null     object
dtypes: object(7)
memory usage: 535.3+ KB

In [19]:
category.head()

,uniq_id,product_name,category1,category2,category3,category4,category5
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Hobbies,Model Trains & Railway Sets,Rail Vehicles,Trains,None
1,b17540ef7e86e461d37f3ae58b7b72ac,FunkyBuys® Large Christmas Holiday Express Fes...,Hobbies,Model Trains & Railway Sets,Rail Vehicles,Trains,None
2,348f344247b0c1a935b1223072ef9d8a,CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...,Hobbies,Model Trains & Railway Sets,Rail Vehicles,Trains,None
3,e12b92dbb8eaee78b22965d2a9bbbd9f,HORNBY Coach R4410A BR Hawksworth Corridor 3rd,Hobbies,Model Trains & Railway Sets,Rail Vehicles,Trains,None
4,e33a9adeed5f36840ccc227db4682a36,Hornby 00 Gauge 0-4-0 Gildenlow Salt Co. Steam...,Hobbies,Model Trains & Railway Sets,Rail Vehicles,Trains,None

In [20]:
category['product_name'][1]

'FunkyBuys® Large Christmas Holiday Express Festive Train Set (SI-TY1017) Toy Light / Sounds / Battery Operated & Smoke'

### Sub dataset: Also bought

Variable    | Type    | Definition
:---:| :---:|:---:
uniq_id     | Object  | unique identifier     
product_name| Object  | name of the product, not necessary unique
also_bought_URL   | Object  | References to other items that similar users bought  
buy_after_view_URL   | Object  | References to other items that similar users bought that item but did not bought this item

In [21]:
also_bought = toys_all[['uniq_id', 'product_name', 'customers_who_bought_this_item_also_bought', 
                      'items_customers_buy_after_viewing_this_item']]

In [22]:
also_bought['also_bought_URL'] = also_bought['customers_who_bought_this_item_also_bought'].apply(lambda x: str(x).split('|'))

In [23]:
also_bought['also_bought_URL'][1]

['http://www.amazon.co.uk/Christmas-Holiday-Express-Festive-Train-Set-Toy/dp/B009R8S8AA ',
 ' http://www.amazon.co.uk/Goldlok-Holiday-Express-Operated-Multi-Colour/dp/B009R8PAO2 ',
 ' http://www.amazon.co.uk/FunkyBuys%C2%AE-Christmas-SI-TY1017-Ornaments-Operated/dp/B01437QMHA ',
 ' http://www.amazon.co.uk/Holiday-Express-Christmas-Ornament-Decoration ',
 ' http://www.amazon.co.uk/Seasonal-Vision-Christmas-Tree-Train/dp/B0044ZC1W2 ',
 ' http://www.amazon.co.uk/Coca-Cola-Santa-Express-Train-Set/dp/B004BYSNU0']

In [24]:
also_bought = also_bought.explode('also_bought_URL')

In [25]:
also_bought['also_bought_URL'] = also_bought['also_bought_URL'].apply(lambda x: str(x).strip())

In [26]:
also_bought['also_bought_URL'][1]

1    http://www.amazon.co.uk/Christmas-Holiday-Expr...
1    http://www.amazon.co.uk/Goldlok-Holiday-Expres...
1    http://www.amazon.co.uk/FunkyBuys%C2%AE-Christ...
1    http://www.amazon.co.uk/Holiday-Express-Christ...
1    http://www.amazon.co.uk/Seasonal-Vision-Christ...
1    http://www.amazon.co.uk/Coca-Cola-Santa-Expres...
Name: also_bought_URL, dtype: object

In [27]:
also_bought['buy_after_view_URL'] = also_bought['items_customers_buy_after_viewing_this_item'].apply(lambda x: str(x).split('|'))
also_bought = also_bought.explode('buy_after_view_URL')
also_bought['buy_after_view_URL'] = also_bought['buy_after_view_URL'].apply(lambda x: str(x).strip())

In [28]:
also_bought.drop(['customers_who_bought_this_item_also_bought','items_customers_buy_after_viewing_this_item'],axis=1,inplace=True)

In [29]:
also_bought.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129544 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   uniq_id             129544 non-null  object
 1   product_name        129544 non-null  object
 2   also_bought_URL     129544 non-null  object
 3   buy_after_view_URL  129544 non-null  object
dtypes: object(4)
memory usage: 4.9+ MB

### Sub Dataset: Q&A

Variable    | Type    | Definition
:---:| :---:|:---:
uniq_id     | Object  | unique identifiers    
product_name| Object  | name of the product, not necessary unique
question  | Object  | questions toward this product 
answer   | Object  | answers to the question

In [30]:
QA = toys_all[['uniq_id', 'product_name', 'customer_questions_and_answers']]

In [31]:
QA['Q_A'] = QA['customer_questions_and_answers'].apply(lambda x: str(x).split('|'))

In [32]:
QA = QA.explode('Q_A')

In [33]:
QA['Q_A'] = QA['Q_A'].apply(lambda x: str(x).strip())

In [34]:
QA[['question','answer']] = QA['Q_A'].str.split(' //',expand=True)

In [35]:
QA.head()

,uniq_id,product_name,customer_questions_and_answers,Q_A,question,answer
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Does this catalogue detail all the previous Ho...,Does this catalogue detail all the previous Ho...,Does this catalogue detail all the previous Ho...,HiThe 2014 catalogue does indeed detail previ...
1,b17540ef7e86e461d37f3ae58b7b72ac,FunkyBuys® Large Christmas Holiday Express Fes...,can you turn off sounds // hi no you cant turn...,can you turn off sounds // hi no you cant turn...,can you turn off sounds,hi no you cant turn sound off
2,348f344247b0c1a935b1223072ef9d8a,CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...,What is the gauge of the track // Hi Paul.Trut...,What is the gauge of the track // Hi Paul.Trut...,What is the gauge of the track,"Hi Paul.Truthfully, I'm not sure. But it's ve..."
2,348f344247b0c1a935b1223072ef9d8a,CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...,What is the gauge of the track // Hi Paul.Trut...,what is the layout of the tracks? // Its an ov...,what is the layout of the tracks?,Its an oval shape layout
3,e12b92dbb8eaee78b22965d2a9bbbd9f,HORNBY Coach R4410A BR Hawksworth Corridor 3rd,NaN,nan,nan,None

In [36]:
QA.drop(['customer_questions_and_answers','Q_A'],axis=1,inplace=True)

In [37]:
QA.head()

,uniq_id,product_name,question,answer
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Does this catalogue detail all the previous Ho...,HiThe 2014 catalogue does indeed detail previ...
1,b17540ef7e86e461d37f3ae58b7b72ac,FunkyBuys® Large Christmas Holiday Express Fes...,can you turn off sounds,hi no you cant turn sound off
2,348f344247b0c1a935b1223072ef9d8a,CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...,What is the gauge of the track,"Hi Paul.Truthfully, I'm not sure. But it's ve..."
2,348f344247b0c1a935b1223072ef9d8a,CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...,what is the layout of the tracks?,Its an oval shape layout
3,e12b92dbb8eaee78b22965d2a9bbbd9f,HORNBY Coach R4410A BR Hawksworth Corridor 3rd,nan,None

### Sub dataset: Customer Reviews

Variable    | Type    | Definition
:---:| :---:|:---:
uniq_id     | Object  | unique identifier     
product_name| Object  | name of the product, not necessary unique
comment_title   | Object  | titles written by customers when they write reviews 
indi_score   | Object  | scores correspond to customers reviews
date   | Date  | the time when customers write reviews
reviewers   | Object  | customers who write reviews
content   | Object  | comments written by customers

In [38]:
reviews = toys_all[['uniq_id', 'product_name', 'customer_reviews']]

In [39]:
reviews['customer_reviews'] = reviews['customer_reviews'].apply(lambda x: str(x).split('|'))

In [40]:
reviews = reviews.explode('customer_reviews')

In [41]:
reviews[["comment_title", "indi_score","date","reviewer","content"]] = reviews['customer_reviews'].str.split(' // ',expand=True)

In [42]:
reviews['date'] = pd.to_datetime(reviews['date'])

In [43]:
reviews['reviewer'] = reviews['reviewer'].apply(lambda x: str(x).strip())
reviews['reviewer'] = reviews['reviewer'].apply(lambda x: re.sub('By\n    \n    ','',str(x)))
reviews['reviewer'] = reviews['reviewer'].apply(lambda x: str(x).split('\n  \n ')[0])

In [44]:
reviews.drop(['customer_reviews'],axis=1,inplace=True)

In [45]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25452 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   uniq_id        25452 non-null  object
 1   product_name   25452 non-null  object
 2   comment_title  25452 non-null  object
 3   indi_score     25431 non-null  object
 4   date           25428 non-null  datetime64[ns]
 5   reviewer       25452 non-null  object
 6   content        25425 non-null  object
dtypes: datetime64[ns](1), object(6)
memory usage: 1.6+ MB

### sub dataset: all_sellers

Variable    | Type    | Definition
:---:| :---:|:---:
uniq_id     | Object  | unique identifier     
product_name| Object  | name of the product, not necessary unique
seller  | Object  | sellers which sell the correspond products 
seller_price   | Object  | price correspond to the seller

In [46]:
all_sellers = toys_all[['uniq_id','product_name', 'sellers']]

In [47]:
re_pattern = [(r'\{"seller"=>',''),(r'\[\{"Seller_name_[0-9]0"=>"',''),(r'\[\{"Seller_name_[0-9]"=>"',''),
              (r'\{"Seller_name_[0-9]0"=>"',''),(r'\{"Seller_name_[0-9]"=>"',''),
              (r'Seller_price_[0-9]0"=>"',''),(r'Seller_price_[0-9]"=>"',''),
             (r'"\}\}',''),(r'"\}\]\}',''),(r'"\}, ','|')] 
for old, new in re_pattern:
    all_sellers['sellers'] = all_sellers['sellers'].apply(lambda x:re.sub(old,new,str(x)))

In [48]:
all_sellers['sellers'] = all_sellers['sellers'].apply(lambda x: str(x).split('|'))

In [49]:
all_sellers = all_sellers.explode('sellers')

In [50]:
all_sellers[["seller","seller_price"]] = all_sellers['sellers'].str.split('", "',expand=True)

In [51]:
all_sellers['seller_price'] = all_sellers['seller_price'].apply(lambda x:re.sub('£','',str(x)))

In [52]:
all_sellers.drop(['sellers'],axis=1,inplace=True)

In [53]:
all_sellers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31894 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   uniq_id       31894 non-null  object
 1   product_name  31894 non-null  object
 2   seller        31894 non-null  object
 3   seller_price  31894 non-null  object
dtypes: object(4)
memory usage: 1.2+ MB

In [54]:
all_sellers.head()

,uniq_id,product_name,seller,seller_price
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Amazon.co.uk,3.42
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,**stop-&-shop-uk**,0.19
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,World Wide Shopping Mall Ltd,9.99
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,MyHobbyStore Retail,8.00
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,francejouet,37.62

### sub dataset: products

Variable    | Type    | Definition
:---:| :---:|:---:
uniq_id     | Object  | unique identifier     
product_name| Object  | name of the product, not necessary unique
manufacturer   | Object  | The item manufacturer, as reported on Amazon 
price   | Object  | price of the product in Amazon
quan_available   | Object  | numbers of product available for sale
condition   | Object  | condition of the available product
number_of_reviews   | Object  | the number of reviews written by customers
number_of_answered_questions |  Float   | the number of pairs Q&A
average_review_rating        |  Float   | average review scores correspond to the product
product_infomation           |  Object   | including technical details of the product
product_description          |  Object   | describe the function of the product

In [55]:
products = toys_all[['uniq_id', 'product_name', 'manufacturer', 'price', 'quan_available',
                   'condition', 'number_of_reviews', 'number_of_answered_questions',
                   'average_review_rating', 'product_information', 'product_description']]

In [56]:
products['quan_available'] = products['quan_available'].fillna(0)

In [57]:
products['number_of_answered_questions'] = products['number_of_answered_questions'].fillna(0)

In [58]:
products

,uniq_id,product_name,manufacturer,price,quan_available,condition,number_of_reviews,number_of_answered_questions,average_review_rating,product_information,product_description
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Hornby,3.42,5,new,15,1.0,4.9,Technical Details Item Weight640 g Product Dim...,Product Description Hornby 2014 Catalogue Box ...
1,b17540ef7e86e461d37f3ae58b7b72ac,FunkyBuys® Large Christmas Holiday Express Fes...,FunkyBuys,16.99,0,NaN,2,1.0,4.5,Technical Details Manufacturer recommended age...,Size Name:Large FunkyBuys® Large Christmas Hol...
2,348f344247b0c1a935b1223072ef9d8a,CLASSIC TOY TRAIN SET TRACK CARRIAGES LIGHT EN...,ccf,9.99,2,new,17,2.0,3.9,Technical Details Manufacturer recommended age...,BIG CLASSIC TOY TRAIN SET TRACK CARRIAGE LIGHT...
3,e12b92dbb8eaee78b22965d2a9bbbd9f,HORNBY Coach R4410A BR Hawksworth Corridor 3rd,Hornby,39.99,0,NaN,1,2.0,5.0,Technical Details Item Weight259 g Product Dim...,Hornby 00 Gauge BR Hawksworth 3rd Class W 2107...
4,e33a9adeed5f36840ccc227db4682a36,Hornby 00 Gauge 0-4-0 Gildenlow Salt Co. Steam...,Hornby,32.19,0,NaN,3,2.0,4.7,Technical Details Item Weight159 g Product Dim...,Product Description Hornby RailRoad 0-4-0 Gild...
...,...,...,...,...,...,...,...,...,...,...,...
9995,44d6967f083825a5de36ad4865a65bcd,Batman 1966 TV Series Action Figures - The Rid...,Mattel,22.95,5,new,3,3.0,5.0,Technical Details Item Weight136 g Product Dim...,DC 66 Batman Classic TV Series 6 Inch Riddler ...
9996,08f0747b6fc6687215ffb994c3a6fb32,"Star Wars Costume, Kids Stormtrooper Costume S...",Star Wars,39.99,0,NaN,1,3.0,4.0,Technical Details Additional Information AS...,NaN
9997,bf6cc073f8f24e6e338190fa16f6ee9d,Defiance Lawkeeper Metal Badge Prop Replica,Olde Scotland Yard Ltd.,43.99,3,new,1,3.0,5.0,Technical Details Item Weight159 g Product Dim...,*Includes 1x Badge with holder and chain *High...
9998,cd783d0b8b44e631b9788b203eaaefae,Justice League of America Series 3 Green Lante...,DC Comics,49.81,3,new,1,3.0,5.0,Technical Details Item Weight181 g Product Dim...,Designed by Ed BenesIt's here - the third seri...
9999,94d18e86e504bee1e392df7e5738b18a,Star Wars 1/72 Y-Wing Starfighter,Bandai,21.20,31,new,11,3.0,4.5,Technical Details Item Weight299 g Product Dim...,NaN